h1{
    color: #ff15ff;
    font-size;60px;
    font-weight: normal;
    font-family: "Impact";
    text-align: center;
    background-color: black;
}


h2{
    color: red;
    font-size;60px;
    font-weight: normal;
    font-family: "Impact";
    text-align: center;
    background-color: blue
}
  


h3{
    color: blueviolet;
    
}
    
}



p{
    color:red;
}














body{
    background-image: url(../images/15.JPG);
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: right;
}
    