h1{
    color: #ff15ff;
    font-size;60px;
    font-weight: normal;
    font-family: "Impact";
    text-align: center;
    background-color: black;
}







h2{
    color: red;
    font-size;60px;
    font-weight: normal;
    font-family: "Impact";
    text-align: center;
    background-color: blue
}
  

table {
 
    background: red;
   
   
}
    
    
    
    {
    
    }

ol{
   background-image: url(../images/08.jpg); 
    
}



    
body{
    background-image: url(../images/02.jpg);
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: right;
}
    
    







    




    


















h3{
    color: blueviolet;
    
}
    
}



p{
    color:red;
}



